.view {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 2rem;
}

.card {
  width: 50rem;
  background: beige;
}

#editor {
  height: 45rem;
  background: floralwhite;
}

@media (max-width: 1650px) {
  .view {
    flex-direction: column;
    align-items: center;
  }

  #editor {
    height: 20rem;
  }
}

@media (max-width: 815px) {
  .card {
    width: 100%;
  }

  #editor {
    height: 20rem;
  }
}
